<%- include('layouts/includes/head.ejs') %>
    <form action="/add-user" method="post">
        <input type="text" name="username" id="">
        <button type="submit">Add User</button>
    </form>
<%- include('layouts/includes/end.ejs') %>