<%- includes('includes/head.ejs) %>
    <form action="/add-user" method="post">
        <input type="text" name="username" id="">
        <button type="submit">Add User</button>
    </form>
<%- includes('includes/end.ejs) %>